<section>
  <div class="homebg">
    <h1>Welcome to the WDI 30 Yearbook</h1>
    <h3>You can proceed to the yearbook by going to the Students link above</h3>
    <hr>
    <h2>Meet the teaching staff:</h2>
  </div>
  <div class="row">
    <div class="col-lg-3 col-sm-4">
      <div class="card">
        <img class="student-image" src="https://avatars0.githubusercontent.com/u/11501555?s=460&v=4" alt="Rane Gowan">
        <div class="card-body">
          <h4 class="card-title">Rane Gowan</h4>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-4">
      <div class="card">
        <img class="student-image" src="https://pbs.twimg.com/profile_images/2673559611/c39fde18f7eb8b829c7f8ee17206d3d1_400x400.jpeg" alt="Alex Chin">
        <div class="card-body">
          <h4 class="card-title">Alex Chin</h4>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-4">
      <div class="card">
        <img class="student-image" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAp4AAAAJGUzZDViYTJmLTM0N2QtNGYzNy1hZWI2LTQ3MmVlNDAzODFjYQ.jpg" alt="Marta Mattioli">
        <div class="card-body">
          <h4 class="card-title">Marta Mattioli</h4>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-4">
      <div class="card">
        <img class="student-image" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAIA_wDGAAAAAQAAAAAAAArKAAAAJGEyN2M0YmE4LWU0M2ItNGExZC04MTAxLTNkYTFmMDI2ZmM0Mg.jpg" alt="Mike Belither">
        <div class="card-body">
          <h4 class="card-title">Mike Belither</h4>
        </div>
      </div>
    </div>
  </div>
</section>
